# directory listing
# alias ls='gls --color=auto --group-directories-first'   # add colors
# alias l='ls -GlFh'     #size,show type,human readable
# alias la='ls -GlAFh'   #long list,show almost all,show type,human readable
# alias ll='ls -Gla'      #long list

# Changing "ls" to "eza"
# alias ls='eza -a --color=always --group-directories-first' # my preferred listing
alias ls="ls --hyperlink=auto --color=auto"
alias la='eza -la --color=always --group-directories-first'  # all files and dirs
alias ll='eza -l --color=always --group-directories-first'  # long format
alias lt='eza -aT --color=always --group-directories-first' # tree listing

alias zshrc='${=EDITOR} ${ZDOTDIR:-$HOME}/.zshrc' # Quick access to the .zshrc file

alias grep='grep --color'
alias sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS} '

alias t='tail -f'

alias ff='find . -type f -name'

alias h='history'
alias help='man'

# alias rm='rm -i'
# alias cp='cp -i'
# alias mv='mv -i'

# tmux
alias ta='tmux attach -t'
alias tad='tmux attach -d -t'
alias ts='tmux new-session -s'
alias tl='tmux list-sessions'
alias tksv='tmux kill-server'
alias tkss='tmux kill-session -t'

# git
alias g='git'
alias gst='git status'
alias gpp='git pull -p'
alias gfp='git fetch -p'
alias gll='git log'
alias gl='git log --oneline'
alias glg='(){ git log --oneline -G"$1" }'  
# alias gls='(){ git log --oneline -S"$1" }'  
alias gd='git diff'
alias gsi='git submodule init'
alias gsu='git submodule update'

# android
alias talkon="adb shell settings put secure enabled_accessibility_services com.google.android.marvin.talkback/com.google.android.marvin.talkback.TalkBackService"
alias talkoff="adb shell settings put secure enabled_accessibility_services com.android.talkback/com.google.android.marvin.talkback.TalkBackService"
alias touches="adb shell settings put system show_touches 1"
alias fsm="adb shell settings put system font_scale 0.85"
alias flg="adb shell settings put system font_scale 1.3"
alias fdef="adb shell settings put system font_scale 1.0"
alias showbounds="adb shell setprop debug.layout true; adb shell service call activity 1599295570"
alias hidebounds="adb shell setprop debug.layout false; adb shell service call activity 1599295570"
alias back="adb shell input keyevent KEYCODE_BACK"
alias home="adb shell input keyevent KEYCODE_HOME"
alias dl="adb shell am start -a android.intent.action.VIEW -d "
alias ap="pbpaste | xargs adb shell input text"
alias fapk="find . -iname '*.apk'"
# alias fapk="print -l **/*.apk"
# alias fapk="find ./p2p-app/build/outputs -name '*.apk'"

# general
alias upgrade='brew upgrade && omz update && sdk update && tldr --update'
alias nv='nvim'
alias n='nvim'
alias nvc='cd ~/.config/nvim && nvim'
alias lz='lazygit'
alias cheat='(){ curl cheat.sh/"$1" }'
# alias joke='(){curl -s https://v2.jokeapi.dev/joke/Any}'
alias joke='(){curl -s https://v2.jokeapi.dev/joke/Any | jq ".setup, .delivery"}'
alias jokes='(){curl -s "https://v2.jokeapi.dev/joke/Any?lang=es"}'
alias confetti='open raycast://confetti'
alias days='cal -h | cut -c 4-17 | tail -n +3  | wc -w'
alias locserv='python3 -m http.server'
alias qrcode='(){ curl qrcode.show/$1 ;}'
alias wr='curl wttr.in/mar%20del%20plata'
alias notes="nvim ~/notes"
# alias notes='cd ~/notes; nv "+Telescope find_files"'
# alias notes='cd ~/notes; nv'

alias nnn="nnn -e"

alias ai="(){ cd ~/src/gpt4all/chat;./gpt4all-lora-quantized-OSX-m1 }";

alias bf="wr && say '[[volm 0.5]] weather completed'"
