# directory listing
alias l='ls -GlFh'     #size,show type,human readable
alias la='ls -GlAFh'   #long list,show almost all,show type,human readable
alias lt='ls -GltFh'   #long list,sorted by date,show type,human readable
alias ll='ls -Gla'      #long list
alias ls='ls -G'   # add colors

alias zshrc='${=EDITOR} ${ZDOTDIR:-$HOME}/.zshrc' # Quick access to the .zshrc file

alias grep='grep --color'
alias sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS} '

alias t='tail -f'

alias ff='find . -type f -name'

alias h='history'
alias help='man'

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# tmux
alias ta='tmux attach -t'
alias tad='tmux attach -d -t'
alias ts='tmux new-session -s'
alias tl='tmux list-sessions'
alias tksv='tmux kill-server'
alias tkss='tmux kill-session -t'

# git
alias g='git'
alias gst='git status'
alias gpp='git pull -p'
alias gfp='git fetch -p'
alias gll='git log'
alias gl='git log --oneline'
alias glg='(){ git log --oneline -G"$1" }'  
alias gls='(){ git log --oneline -S"$1" }'  
alias gd='git diff'

alias dupgrade='brew upgrade'
alias nv='nvim'
alias nvc='nv ~/.config/nvim'
alias lz='lazygit'
alias cheat='(){ curl cheat.sh/"$1" }'
alias joke='(){curl https://v2.jokeapi.dev/joke/Any}'
alias jokes='(){curl "https://v2.jokeapi.dev/joke/Any?lang=es"}'
