
screenshot() {
  adb exec-out screencap -p > screenshot.png
  mv -f screenshot.png ~/Desktop/screenshot.png
}

# Install (one or multiple) selected application(s)
# using "brew search" as source input
# mnemonic [B]rew [I]nstall [P]ackage
bip() {
  local inst=$(brew search "$@" | fzf -m)

  if [[ $inst ]]; then
    for prog in $(echo $inst);
    do; brew install $prog; done;
  fi
}

# Delete (one or multiple) selected application(s)
# mnemonic [B]rew [C]lean [P]ackage (e.g. uninstall)
bcp() {
  local uninst=$(brew leaves | fzf -m)

  if [[ $uninst ]]; then
    for prog in $(echo $uninst);
    do; brew uninstall $prog; done;
  fi
}

# Convert all video files
conv() {
    mkdir converted
    for file in *.webm *.mp4; do
      # Check if a file with the given pattern was found
      if [ -e "$file" ]; then
        ffmpeg -i "$file" "converted/${file%.*}.mp4"
      fi
    done
}

# Get random question
random_question() {
    shuf -n 1 ~/questions.txt
}


# Convert M3U8 streams to MP4
m3u2mp4() {
    if [ -z "$1" ]; then
        echo "Usage: m3u2mp4 <input_url_or_file> [output_name.mp4]"
        return 1
    fi

    local input="$1"
    local output="${2:-output.mp4}"

    ffmpeg -protocol_whitelist file,http,https,tcp,tls \
           -allowed_extensions ALL \
           -i "$input" \
           -bsf:a aac_adtstoasc \
           -c copy \
           "$output"
}
