
screenshot() {
  adb exec-out screencap -p > screenshot.png
  mv -f screenshot.png ~/Desktop/screenshot.png
}

# Install (one or multiple) selected application(s)
# using "brew search" as source input
# mnemonic [B]rew [I]nstall [P]ackage
bip() {
  local inst=$(brew search "$@" | fzf -m)

  if [[ $inst ]]; then
    for prog in $(echo $inst);
    do; brew install $prog; done;
  fi
}

# Delete (one or multiple) selected application(s)
# mnemonic [B]rew [C]lean [P]ackage (e.g. uninstall)
bcp() {
  local uninst=$(brew leaves | fzf -m)

  if [[ $uninst ]]; then
    for prog in $(echo $uninst);
    do; brew uninstall $prog; done;
  fi
}

# Convert all video files
conv() {
    mkdir converted
    for file in *.webm *.mp4; do
      # Check if a file with the given pattern was found
      if [ -e "$file" ]; then
        ffmpeg -i "$file" "converted/${file%.*}.mp4"
      fi
    done
}
