""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set commentary
set highlightedyank
set mini-ai
set functiontextobj

""" Plugin settings -------------------------
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

""" Common settings -------------------------
set showmode
set incsearch
set ignorecase smartcase
set nu rnu
set history=1000
set clipboard=unnamedplus
set clipboard+=ideaput

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------

" easy window navigation
map <c-l> <c-w>l
map <c-j> <c-w>j
map <c-h> <c-w>h
map <c-k> <c-w>k
map <s-h> gT
map <s-l> gt

" code navigation
map <leader>ff <Action>(GotoFile)
map <leader>fg <Action>(FindInPath)
map <leader>sp <Action>(SelectInProjectView)
map <leader>e <Action>(Switcher)
map <leader>- <Action>(SplitHorizontally)
map <leader>v <Action>(SplitVertically)

" actions
map <leader>a <Action>(Refactorings.QuickListPopupAction)
map <leader>q <Action>(ShowIntentionActions)
map <leader>rn <Action>(RenameElement)

" run action
map <leader>rr <Action>(Run)
map <leader>rc <Action>(RunClass)
map <leader>dd <Action>(Debug)
map <leader>dg <Action>(DebugClass)

"---------------------