""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set commentary
set highlightedyank
set mini-ai
set functiontextobj

""" Plugin settings -------------------------
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

""" Common settings -------------------------
set showmode
set incsearch
set ignorecase smartcase
set nu rnu
set history=1000
set clipboard=unnamedplus
set clipboard+=ideaput

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------

" code navigation
map <leader>ff <Action>(GotoFile)
map <leader>fg <Action>(FindInPath)
map <leader>sp <Action>(SelectInProjectView)
map <leader>e <Action>(Switcher)
map <leader>fb <Action>(Switcher)

" actions
noremap <leader>q <ESC>:action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rn :action RenameElement<cr>

" easy window navigation
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k
nnoremap <s-h> gT
nnoremap <s-l> gt
"nnoremap <c-s-tab> gT
"nnoremap <c-tab> gt
"map <leader>ss <action>(SplitDown)
"map <leader>sv <action>(SplitRight)

" run action
map <leader>rc <action>(RunClass)
map <leader>rr <action>(Run)
map <leader>dg <action>(DebugClass)
map <leader>dd <action>(Debug)

"---------------------

"map <leader>f <Plug>(easymotion-s)
"map <leader>e <Plug>(easymotion-f)
"map <leader>d <Action>(Debug)
"map <leader>r <Action>(RenameElement)
"map <leader>c <Action>(Stop)
"map <leader>z <Action>(ToggleDistractionFreeMode)
"map <leader>s <Action>(SelectInProjectView)
"map <leader>a <Action>(Annotate)
"map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
"map <S-Space> <Action>(GotoNextError)
"map <leader>b <Action>(ToggleLineBreakpoint)
"map <leader>o <Action>(FileStructurePopup)
